name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.16
              otp: 25
          - pair:
              elixir: 1.17
              otp: 26
          - pair:
              elixir: 1.18
              otp: 27

    steps:
    - uses: actions/checkout@v4

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{matrix.pair.elixir}}
        otp-version: ${{matrix.pair.otp}}

    - name: Cache deps
      uses: actions/cache@v4
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-

    - name: Set up Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Cache build
      uses: actions/cache@v4
      with:
        path: _build
        key: ${{ runner.os }}-build-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-build-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-

    - name: Install dependencies
      run: mix deps.get

    - name: Check formatting
      run: mix format --check-formatted

    - name: Compile
      run: mix compile --warnings-as-errors

    - name: Run Credo
      run: mix credo --strict

    - name: Run tests
      run: mix test
